<article class="annonce " id="annonce-84001705-472291">
<div class="annonce__visuel">
                <a href="http://www.seloger.com/annonces/locations/appartement/paris-18eme-75/montmartre/84001705.htm?annoncepg=6&amp;ci=750118&amp;idtt=1&amp;idtypebien=1,2&amp;org=advanced_search&amp;px_loyerbtw=min%2fmax&amp;surfacemin=70&amp;bd=Li_LienAnn_1" class="annonce__visu visu_actif">
                    <img src="http://c.visuels.poliris.com/c175/c/8/4/c/c84c96f9-40b0.jpg" alt="visuel" class="annonce__visu">
                </a>
				<div class="annonce__visuel__pictogrammes">
						    <a class="annonce__visuel__picto picto__photo" href="http://www.seloger.com/annonces/locations/appartement/paris-18eme-75/montmartre/84001705.htm?annoncepg=6&amp;ci=750118&amp;idtt=1&amp;idtypebien=1,2&amp;org=advanced_search&amp;px_loyerbtw=min%2fmax&amp;surfacemin=70&amp;bd=Li_LienAnn_4#galerie" title="5 photos">5<span class="hide">photos</span></a>
					</div>
            </div>
            <div class="annonce__detail">
                <a class="annone__detail__title annonce__link" href="http://www.seloger.com/annonces/locations/appartement/paris-18eme-75/montmartre/84001705.htm?annoncepg=6&amp;ci=750118&amp;idtt=1&amp;idtypebien=1,2&amp;org=advanced_search&amp;px_loyerbtw=min%2fmax&amp;surfacemin=70&amp;bd=Li_LienAnn_2">
                    Appartement 
                    <span class="annone__detail__param">
                        4 Pièces, 3 Chambres, 80 m² 
                    </span>
                </a>
                <span class="annone__detail__localisation">
                    Paris 18ème<span class="annone__detail__param"> 75018 (Paris)</span>
                </span>
				
                <p class="annone__detail__description">
                    <span class="annone__description__small">MUSIC HALL est un appartement rénové et lumineux de 3 chambres, niché au coeur de Montmartre.
Il est situé dans un élégant bâtiment...</span>
                    <!--
                        <span class="hide annone__description__big">MUSIC HALL est un appartement rénové et lumineux de 3 chambres, niché au coeur de Montmartre.
Il est situé dans un élégant bâtiment haussmannien avec ascenseur.
L'appartement est baigné de lumière et chaque pièce donne sur les jardins de la basilique du Sacré-Coeur.
Lorsque vous entrez il ya un couloir et un salon / salle à manger ouverte.
Il y'a un deuxième salon avec TV qui peut être transformé en une 3ème chambre à coucher séparée (canapé convertible de très haute qualité)
La première chambre a un lit king size fait de deux lits simples et un balcon privé donnant sur les jardins.
La deuxième chambre a un lit queen size, une armoire dressing et un balcon donnant sur les jardins.
Il y'a une salle de bain avec douche et WC et une deuxième salle de bains avec baignoire et WC.
La cuisine est entièrement équipée avec lave-linge, sèche-linge, lave-vaisselle, four micro-ondes et four traditionnel
L'appartement dispose du chauffage central (compris dans le loyer) et la climatisation.</span>&nbsp;
                        <button type="image" class="annone__detail__descriptionPlus">plus de detail</button>
                    -->
                </p>
                
                <div class="annonce__detail__links">
	                <button class="annonce__detail__sauvegarde action-add"> </button>
	                <span class="tooltip-sauvegarde hide">Mémoriser l'annonce et m'avertir si le prix évolue</span>
	                 <!-- si not annonce Neuf -->
	                
	                <a href="/new_recherche,includes,ajax_contact_agence.htm?idannonce=84001705&amp;idpublication=472291&amp;product=;84001705/128590/91723;;;event4=1;evar56=1-1-1-75018-128590--" class="annone__detail__contact js-open-modale-link">
	                    Mail
	                </a>
	                
	                
	                
                     <!-- si not annonce Neuf -->
	                 <!-- si not annonce agorabiz -->
	                    
	                        <a class="annone__detail__tel">
	                                  Téléphone
	                                  <span class="hide">01 42 59 43 05</span>
	                        </a>
	                    
                    
	                
            	</div>
            </div>
            <div class="annonce__agence">
                 <!-- si not annonce Neuf -->
                    
                    <span class="annonce__agence__prix annonce__nologo">
                        2&nbsp;800 €
                        
                        
                        	<sup>
                        		
                        		
                        			CC
                        			
                        		
                        	</sup>
                        
                        
                    </span>
                
                
                
                <span class="annone__detail__nom">
                    STUDIOS DE PARIS
                </span>
                 <!-- si not annonce Neuf -->
                    
                    
                    <!-- 
                   	<a href="/new_recherche,includes,ajax_contact_agence.htm?idannonce=84001705&idpublication=472291&product=;84001705/128590/91723;;;event4=1;evar56=1-1-1-75018-128590--" class="annone__detail__contact js-open-modale-link">
                        Contact
                    </a>
                    -->
                
                <!--
                 <!-- si not annonce Neuf 
                    
                        <button class="annone__detail__tel">
                            01 42 59 43 05
                        </button>
                    
                -->
            </div>
            <script type="text/javascript">
                SL_Omniture.addToEvents("event4", undefined, false);
                SL_Omniture.addToProducts(";84001705#128590#91723;;;event4=1;evar56=1-1-1-75018-128590--");
            </script>
        </article>


        ref url http://www.seloger.com/recherche.htm?org=advanced_search&idtt=1&refannonce=LAM