#{extends 'main.html' /}
<div>
     #{if rental.prev()}
        <a href="@{Application.rental}?id=${rental.prev().id}" title="Annonce Précédente" style="float:left"> << Annonce plus récente</a>
    #{/if}
    #{if rental.next()}
        <a href="@{Application.rental}?id=${rental.next().id}" title="Annonce Suivante" style="float:right"> Annonce plus ancienne >></a>
    #{/if}
    
    
 
</div>
<div id="rental-detail" class="rental">
    <h1>${rental.name}<br>${rental.price()}</h1>
    #{if rental.address}
        <h2><a href="http://maps.google.com/?q=${rental.address}, Paris France">${rental.address}</a></h2>
    #{/if}

    <p>
        ${rental?.text.raw()}
        %{
        TimeZone tz = TimeZone.getTimeZone('Europe/Paris')
        java.text.SimpleDateFormat sdf = new java.text.SimpleDateFormat("dd MMMM yyyy HH:mm")
        sdf.setTimeZone(tz)
        }%
        <br/><span class="date">${sdf.format(rental.when)}</span> - 
        #{if rental.suggested}
           <strong>&hearts;</strong><a id="sban" href="unban/${rental.id}">Suivre</a> - 
        #{/if}
        <strong>&${rental.banned? 'hearts' : '#9760'};</strong><a id="ban" href="${rental.banned ?'un':''}ban/${rental.id}">${rental.banned ? 'Suivre' : 'Rejeter'}</a> - 
        
        <strong>&#9998;</strong><a href="@{Rentals.show(rental.id)}">Editer</a> - 
        #{if rental.type == 'PAP' || rental.type==null}
        <a href="${rental.href}">Voir sur PAP</a>
        #{/if}
        #{if rental.type == 'LBC'}
        <a href="${rental.href}">Voir sur Le Bon Coin</a>
        #{/if}
        #{if rental.type == 'SLG'}
        <a href="${rental.href}">Voir sur SE LOGER</a>
        #{/if}
        
    </p>
    #{list items:rental.notes, as:'note'}
        <p class="comment">${note.note} <span class="date">${sdf.format(note.addedAt)}</span></p>
    #{/list}
   
    <form onsubmit="return Moving.addComment(${rental.id})">
    <p class="comment">
        <input type="text" placeholder="Ecrire un commentaire"/>
        <input type="submit" value="save"/>
    </p>
    </form>
    
    
    
       
</div>
